@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap);
@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&display=swap);


*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

body{
    height: 100hv;
    background-color: rgb(209, 212, 168);
    font-family: 'IBM Plex Sans', sans-serif;
}

@media(min-width:576px){
.container{
    padding: 60px 0 60px 0 ;    
    display: flex;    
    align-items: center;
    justify-content: center;
}

.cartao{
    border-radius: 0 15px 15px 0;
    text-align: center;
    background-color: white;
    min-width: 320px;
    max-width: 330px;   
    display: flex;
    flex-direction: column;
       
    
}

.perfume img{
    border-radius: 15px 0 0 15px;
    height: 520px;
}

.cabecalho h1{
    padding-top: 15px;
    padding-left: 2px;
    letter-spacing: 2px;
    margin: 28px 0 15px 15px;
    font-size: 15px;
    text-align: left;
    color: rgb(145, 143, 143);
}

.cabecalho h2{
    font-size: 2.5em;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.descricao p{
    text-align: left;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 30px;
    font-size: 14px;
    color: rgb(145, 143, 143);
    font-family: 'Noto Sans Warang Citi', sans-serif;
}

.preco{
    display: flex;
    align-items: center;
}

.preco-atual{
    margin: 0px 5px 20px 10px;
    text-align: left;
    font-size: 3.8em;
    font-family: 'Lobster', cursive;
    color: green;
    text-decoration-color: green;    
}

.preco-antigo{
    text-decoration: line-through;
    color: rgb(145, 143, 143);
    font-size: 14px;
    margin-left: 20px;
}

.add-carrinho{    
    padding: 30px 0 30px 0;
}



.botao-add{    
    color: white;
    background-color: rgb(69, 141, 69);
    border-radius: 5px;
    font-weight:500;
    padding: 15px 90px 15px 90px;
}

.botao-add:hover{
    background-color: rgb(30, 84, 30);
    cursor: pointer;
        
}
}

@media (max-width:575.98px){
    .container{
        padding: 60px 0 60px 0 ;    
        display: flex;
        flex-direction: column;    
        align-items: center;
        justify-content: center;
    }
    
    .cartao{
        text-align: center;
        background-color: white;
        width: 280px;   
        display: flex;
        flex-direction: column;
        margin: 0;

           
        
    }

    .perfume{
        margin-bottom: -5px;
    }
    
    .perfume img{
        border-radius: 15px 15px 0 0;
        min-height: 320px;
        max-height: 420px;
    }
    
    .cabecalho h1{
        padding-top: 5px;
        padding-left: 2px;
        letter-spacing: 2px;
        margin: 10px 0 15px 15px;
        font-size: 15px;
        text-align: left;
        color: rgb(145, 143, 143);
    }
    
    .cabecalho h2{
        font-size: 2.5em;
        font-family: 'Exo 2', sans-serif;
        margin-bottom: 5px;
        padding-bottom: 2px;
    }
    
    .descricao p{
        text-align: left;
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 5px;
        font-size: 14px;
        color: rgb(145, 143, 143);
        font-family: 'Noto Sans Warang Citi', sans-serif;
    }
    
    .preco{
        display: flex;
        align-items: center;
    }
    
    .preco-atual{
        margin: 0px 5px 5px 10px;
        text-align: left;
        font-size: 3.8em;
        font-family: 'Lobster', cursive;
        color: green;
        text-decoration-color: green;    
    }
    
    .preco-antigo{
        text-decoration: line-through;
        color: rgb(145, 143, 143);
        font-size: 14px;
        margin-left: 20px;
    }
    
    .add-carrinho{    
        padding: 5px 0 10px 0;
    }
    
    
    
    .botao-add{    
        color: white;
        background-color: rgb(69, 141, 69);
        border-radius: 5px;
        font-weight:500;
        padding: 15px 90px 15px 90px;
    }
    
    .botao-add:hover{
        background-color: rgb(30, 84, 30);
        cursor: pointer;
            
    }

}